@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down-enter {
  animation: slideDown 0.5s forwards;
}

.scrollBarColor {
  scrollbar-color: #ff9d00 #f1f1f1;
  scrollbar-width: auto;
}

.mi-div::-webkit-scrollbar {
  width: 9px;/* Ancho de la barra de desplazamiento */
}

.mi-div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

.mi-div::-webkit-scrollbar-thumb {
  background: #ff9d00;
  border-radius: 5px;
}

.directory-card-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.directory-card-scroll-bar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

.directory-card-scroll-bar-firefox {
  scrollbar-width: auto;
}

input:checked + .switch {
  background-color: #35A9E2;
} 

input:checked + .switch .left-circle {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
}

input:checked + .switch .text {
  -webkit-transform: translateX(20px); 
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

input:checked + .switch .right-circle {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}

/* styles for SpecialCard */

.bg-image {
  transition: background-position 0.3s ease;
}

.special-card:hover .bg-image {
  background-position: center;
}

.special-card:hover .play-icon {
  opacity: 0.8;
}

/* styles for TopListCard */
.score {
  transition: ease-in-out 0.2s;
}

.topCard:hover .score {
  height: 100%;
}

.topCard:hover .topCardContent  {
  opacity: 1;
}

